In [1]:
import pandas as pd
import numpy as np
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
from datetime import date, timedelta

# Born a Crime Data

In [2]:
weekly_sentiment = []
compound_sentiment = []
weekly_tweets = []
books = ["Born a Crime"]
for item in books:
    list_ = []
    for x in range(26):
        file = "Data/" + item + " Data/" + item + str(x) + ".csv"
        df = pd.read_csv(file, encoding="latin-1", error_bad_lines=False, warn_bad_lines=False, index_col=None, header=0)
    
        df["Tweet Sentiment"] = ""
        df.set_index(" id", inplace=True)
    
        for index, row in df.iterrows():
            tweet_text = row[" text"]
            compound_sentiment.append(analyzer.polarity_scores(tweet_text)["compound"])
            df.set_value(index, "Tweet Sentiment", (analyzer.polarity_scores(tweet_text)["compound"]))

        compound_sentiment = []   
        list_.append(df)
    frame0 = pd.concat(list_)
    frame0[' date'] = pd.to_datetime(frame0[' date'])

In [3]:
frame0.head()

,username,date,retweets,text,permalink,Tweet Sentiment
id,,,,,,
7.860000e+17,malamamusonda2,2016-10-10 15:18:00,0,Cant wait to read #Trevor_noah 's book... #BOR...,https://twitter.com/malamamusonda2/status/7855...,0
7.850000e+17,sale_ebook,2016-10-10 02:39:00,0,Born A Crime : Stories from a South African Ch...,https://twitter.com/sale_ebook/status/78536904...,0
7.850000e+17,selasekove,2016-10-10 01:44:00,0,Trevor Noah Explains the Title of His New Book...,https://twitter.com/selasekove/status/78535519...,0
7.850000e+17,zogita26,2016-10-08 19:48:00,0,here's short and sweet review of Born a Crime ...,https://twitter.com/zogita26/status/7849032036...,0
7.850000e+17,PhotographyArt_,2016-10-08 14:59:00,0,#10: Born a Crime : Stories from a South Afric...,https://twitter.com/PhotographyArt_/status/784...,0

In [5]:
dates = "Dates/bac_dates.csv"
date_df = pd.read_csv(dates)
weekly_sentiment = []
weekly_tweets = []
for index, row in date_df.iterrows():
    date = row["Week Start"]
    date2 = row["Week End"]
    mask = (frame0[' date'] > str(date)) & (frame0[' date'] <= str(date2))
    weekly_tweets.append(len(frame0.loc[mask]))
    weekly_sentiment.append(np.mean(frame0.loc[mask]["Tweet Sentiment"]))

In [6]:
pos_data = "../CSV/POS Data/born_a_crime_pos_data.csv"
pos = pd.read_csv(pos_data)
sums = pos.sum(axis=0).to_frame()
sums_df = sums.iloc[1:]
sums_df[0]
BornaCrime = pd.DataFrame({"Weekly Sentiment": weekly_sentiment, "Weekly Tweets": weekly_tweets, "Weekly Sales": sums_df[0]})

In [7]:
BornaCrime

                     Weekly Sales  Weekly Sentiment  Weekly Tweets
Week End( 10/09/16 )            2         -0.328827             66
Week End( 10/16/16 )            1         -0.440638             29
Week End( 10/23/16 )            3         -0.108200             27
Week End( 10/30/16 )            1         -0.155152             46
Week End( 11/06/16 )            6         -0.409514            169
Week End( 11/13/16 )          862         -0.418640            159
Week End( 11/20/16 )        13615          0.262272            993
Week End( 11/27/16 )        12266         -0.069478            816
Week End( 12/04/16 )        12640         -0.191664            918
Week End( 12/11/16 )        20437         -0.081273            535
Week End( 12/18/16 )        24578         -0.021483            517
Week End( 12/25/16 )        32679          0.055371            540
Week End( 01/01/17 )         7362          0.057381            597
Week End( 01/08/17 )         5334         -0.024782            552
Week End( 01/15/17 )         4616          0.012615            496
Week End( 01/22/17 )         4689         -0.025567            520
Week End( 01/29/17 )         4269         -0.051675            415
Week End( 02/05/17 )         3948         -0.018837            359
Week End( 02/12/17 )         3610          0.554825            384
Week End( 02/19/17 )         5300          0.047433            392
Week End( 02/26/17 )         5957          0.015342            408
Week End( 03/05/17 )         3979         -0.086531            383
Week End( 03/12/17 )         4186         -0.058901            362
Week End( 03/19/17 )         3530         -0.048564            299
Week End( 03/26/17 )         3378         -0.054936            279
Week End( 04/02/17 )         4194         -0.035230            273

In [35]:
BornaCrime.to_csv("born_a_crime_full_data.csv")

# Modern Romance Data

In [15]:
weekly_sentiment = []
compound_sentiment = []
weekly_tweets = []
books = ["Modern Romance"]
for item in books:
    list_ = []
    for x in range(26):
        file = "Data/" + item + " Data/" + item + str(x) + ".csv"
        df = pd.read_csv(file, encoding="latin-1", error_bad_lines=False, warn_bad_lines=False, index_col=None, header=0)
    
        df["Tweet Sentiment"] = ""
        df.set_index(" id", inplace=True)
    
        for index, row in df.iterrows():
            tweet_text = row[" text"]
            compound_sentiment.append(analyzer.polarity_scores(tweet_text)["compound"])
            df.set_value(index, "Tweet Sentiment", (analyzer.polarity_scores(tweet_text)["compound"]))

        compound_sentiment = []   
        list_.append(df)
    frame1 = pd.concat(list_)
    frame1[' date'] = pd.to_datetime(frame1[' date'])

In [16]:
frame1.head()

,username,date,retweets,text,permalink,Tweet Sentiment
id,,,,,,
5.979040e+17,bobbienews,2015-05-11 19:18:00,0,Reading a book about #dating apps... like read...,https://twitter.com/bobbienews/status/59790355...,0.3612
5.978930e+17,sjmmurdock,2015-05-11 18:36:00,0,"@arzesux It's a hilarious, thoughtful, and in-...",https://twitter.com/sjmmurdock/status/59789298...,0.9136
5.978920e+17,webparazzi,2015-05-11 18:30:00,0,Modern Romance http:// wp.me/p4s3uz-1WA,https://twitter.com/webparazzi/status/59789150...,0.5574
5.978900e+17,MissAmaRayRay,2015-05-11 18:22:00,1,You should read A Cry to the Sea: A Modern Afr...,https://twitter.com/MissAmaRayRay/status/59788...,0.2732
5.978890e+17,sjmmurdock,2015-05-11 18:22:00,0,@arzesux Are you going to get the Aziz Ansari ...,https://twitter.com/sjmmurdock/status/59788945...,0.8481

In [20]:
dates = "Dates/mr_dates.csv"
date_df = pd.read_csv(dates)
weekly_sentiment = []
weekly_tweets = []
for index, row in date_df.iterrows():
    date = row["Week Start"]
    date2 = row["Week End"]
    mask = (frame1[' date'] > str(date)) & (frame1[' date'] <= str(date2))
    weekly_tweets.append(len(frame1.loc[mask]))
    weekly_sentiment.append(np.mean(frame1.loc[mask]["Tweet Sentiment"]))

In [26]:
pos_data = "../CSV/POS Data/mr_pos_data.csv"
pos = pd.read_csv(pos_data)
sums = pos.sum(axis=0).to_frame()
sums_df = sums.iloc[1:]
sums_df[0]
ModernRomance = pd.DataFrame({"Weekly Sentiment": weekly_sentiment, "Weekly Tweets": weekly_tweets, "Weekly Sales": sums_df[0]})

In [27]:
ModernRomance

                     Weekly Sales  Weekly Sentiment  Weekly Tweets
Week End( 4/19/15 )             0               NaN              0
Week End( 4/26/15 )             0               NaN              0
Week End( 5/3/15 )              0               NaN              0
Week End( 5/10/15 )             0          0.535613            251
Week End( 5/17/15 )             0          0.534222            292
Week End( 5/24/15 )             0          0.551863            336
Week End( 5/31/15 )             2          0.549588            469
Week End( 6/7/15 )             11          0.535517            639
Week End( 6/14/15 )          1054          0.507899            713
Week End( 6/21/15 )         22706          0.550411           2829
Week End( 6/28/15 )         12447          0.529854           1321
Week End( 7/5/15 )           9415          0.540384            844
Week End( 7/12/15 )         10225          0.524476           1455
Week End( 7/19/15 )          9230          0.538181           1069
Week End( 7/26/15 )          8335          0.571031            799
Week End( 8/2/15 )           6555          0.568454            766
Week End( 8/9/15 )           6157          0.556278            710
Week End( 8/16/15 )          5768          0.535946            926
Week End( 8/23/15 )          5145          0.540868           1053
Week End( 8/30/15 )          4413          0.572734            818
Week End( 9/6/15 )           4163          0.613568            725
Week End( 9/13/15 )          3816          0.510822            760
Week End( 9/20/15 )          3630          0.486512            462
Week End( 9/27/15 )          3228          0.490421            452
Week End( 10/4/15 )          2734          0.543310            722
Week End( 10/11/15 )         2570          0.512245            716

In [36]:
ModernRomance.to_csv("modern_romance_full_data.csv")

# The Girl with the Lower Back Tattoo Data

In [28]:
weekly_sentiment = []
compound_sentiment = []
weekly_tweets = []
books = ["The Girl with the Lower Back Tattoo"]
for item in books:
    list_ = []
    for x in range(26):
        file = "Data/" + item + " Data/" + item + str(x) + ".csv"
        df = pd.read_csv(file, encoding="latin-1", error_bad_lines=False, warn_bad_lines=False, index_col=None, header=0)
    
        df["Tweet Sentiment"] = ""
        df.set_index(" id", inplace=True)
    
        for index, row in df.iterrows():
            tweet_text = row[" text"]
            compound_sentiment.append(analyzer.polarity_scores(tweet_text)["compound"])
            df.set_value(index, "Tweet Sentiment", (analyzer.polarity_scores(tweet_text)["compound"]))

        compound_sentiment = []   
        list_.append(df)
    frame2 = pd.concat(list_)
    frame2[' date'] = pd.to_datetime(frame2[' date'])

In [29]:
frame2.head()

,username,date,retweets,text,permalink,Tweet Sentiment
id,,,,,,
7.525160e+17,GalleryBooks,2016-07-11 10:53:00,1,Check out the gorgeous new @marieclaire cover ...,https://twitter.com/GalleryBooks/status/752516...,0.3311
7.517070e+17,ShinyGlitterBug,2016-07-09 05:17:00,0,Can't wait for this book! ~ Amy Schumer tells ...,https://twitter.com/ShinyGlitterBug/status/751...,-0.3595
7.516980e+17,IndigoEatonCtr,2016-07-09 04:41:00,0,The next big read in #humour ! Pre-order The G...,https://twitter.com/IndigoEatonCtr/status/7516...,-0.3595
7.513770e+17,no1puckfan_ken,2016-07-08 07:27:00,1,who is the sexy girl with the lower back tatto...,https://twitter.com/no1puckfan_ken/status/7513...,0.5719
7.512620e+17,rdm312,2016-07-07 23:50:00,0,To the girl at the bar with the sun's out rum'...,https://twitter.com/rdm312/status/751262093349...,-0.4098

In [31]:
dates = "Dates/back_tattoo_dates.csv"
date_df = pd.read_csv(dates)
weekly_sentiment = []
weekly_tweets = []
for index, row in date_df.iterrows():
    date = row["Week Start"]
    date2 = row["Week End"]
    mask = (frame2[' date'] > str(date)) & (frame2[' date'] <= str(date2))
    weekly_tweets.append(len(frame2.loc[mask]))
    weekly_sentiment.append(np.mean(frame2.loc[mask]["Tweet Sentiment"]))

In [33]:
pos_data = "../CSV/POS Data/tattoo_pos_data.csv"
pos = pd.read_csv(pos_data)
sums = pos.sum(axis=0).to_frame()
sums_df = sums.iloc[1:]
sums_df[0]
BackTattoo = pd.DataFrame({"Weekly Sentiment": weekly_sentiment, "Weekly Tweets": weekly_tweets, "Weekly Sales": sums_df[0]})

In [34]:
BackTattoo

                      Weekly Sales  Weekly Sentiment  Weekly Tweets
Week End( 6/26/16 )              0               NaN              0
Week End( 7/3/2016 )             1               NaN              0
Week End( 7/10/16 )              0         -0.219075             12
Week End( 7/17/16 )              2         -0.164237             27
Week End( 7/24/16 )              5         -0.241681             16
Week End( 7/31/16 )              4         -0.275999            112
Week End( 8/7/16 )             307         -0.234575             71
Week End( 8/14/16 )            250         -0.256820             49
Week End( 8/21/16 )          39616         -0.236759           1755
Week End( 8/28/16 )          30286         -0.093971             31
Week End( 9/4/16 )           24308         -0.126927            280
Week End( 9/11/16 )          19855         -0.270177            289
Week End( 9/18/16 )          13721         -0.164942            159
Week End( 9/25/16 )          11820         -0.156569            123
Week End( 10/2/2016 )        10067         -0.165934            137
Week End( 10/9/16 )           7677          0.168219            302
Week End( 10/16/16 )          6234         -0.082290            102
Week End( 10/23/16 )          5032         -0.032719            179
Week End( 10/30/16 )          4055         -0.262595             96
Week End( 11/6/16 )           3537         -0.217888             73
Week End( 11/13/16 )          3641         -0.134250             56
Week End( 11/20/16 )          3683         -0.247081             88
Week End( 11/27/16 )          9626         -0.299038             53
Week End( 12/4/16 )           6921         -0.188913             45
Week End( 12/11/16 )          8410         -0.122468             66
Week End( 12/18/16 )         16899         -0.048529            143

In [37]:
BackTattoo.to_csv("back_tattoo_full_data.csv")