In [1]:
import pandas as pd
import numpy as np
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
from datetime import date, timedelta

# Born a Crime Data

In [2]:
weekly_sentiment = []
compound_sentiment = []
weekly_tweets = []
books = ["Born a Crime"]
for item in books:
    list_ = []
    for x in range(26):
        file = "Data/" + item + " Data/" + item + str(x) + ".csv"
        df = pd.read_csv(file, encoding="latin-1", error_bad_lines=False, warn_bad_lines=False, index_col=None, header=0)
    
        df["Tweet Sentiment"] = ""
        df.set_index(" id", inplace=True)
    
        for index, row in df.iterrows():
            tweet_text = row[" text"]
            compound_sentiment.append(analyzer.polarity_scores(tweet_text)["compound"])
            df.set_value(index, "Tweet Sentiment", (analyzer.polarity_scores(tweet_text)["compound"]))

        compound_sentiment = []   
        list_.append(df)
    frame0 = pd.concat(list_)
    frame0[' date'] = pd.to_datetime(frame0[' date'])

In [3]:
frame0.head()

,username,date,retweets,text,permalink,Tweet Sentiment
id,,,,,,
7.860000e+17,malamamusonda2,2016-10-10 15:18:00,0,Cant wait to read #Trevor_noah 's book... #BOR...,https://twitter.com/malamamusonda2/status/7855...,0
7.850000e+17,sale_ebook,2016-10-10 02:39:00,0,Born A Crime : Stories from a South African Ch...,https://twitter.com/sale_ebook/status/78536904...,0
7.850000e+17,selasekove,2016-10-10 01:44:00,0,Trevor Noah Explains the Title of His New Book...,https://twitter.com/selasekove/status/78535519...,0
7.850000e+17,zogita26,2016-10-08 19:48:00,0,here's short and sweet review of Born a Crime ...,https://twitter.com/zogita26/status/7849032036...,0
7.850000e+17,PhotographyArt_,2016-10-08 14:59:00,0,#10: Born a Crime : Stories from a South Afric...,https://twitter.com/PhotographyArt_/status/784...,0

In [4]:
dates = "Dates/bac_dates.csv"
date_df = pd.read_csv(dates)
weekly_sentiment = []
weekly_tweets = []
for index, row in date_df.iterrows():
    date = row["Week Start"]
    date2 = row["Week End"]
    mask = (frame0[' date'] > str(date)) & (frame0[' date'] <= str(date2))
    weekly_tweets.append(len(frame0.loc[mask]))
    weekly_sentiment.append(np.mean(frame0.loc[mask]["Tweet Sentiment"]))

In [5]:
pos_data = "../CSV/POS Data/born_a_crime_pos_data.csv"
pos = pd.read_csv(pos_data)
sums = pos.sum(axis=0).to_frame()
sums_df = sums.iloc[1:]
sums_df[0]
BornaCrime = pd.DataFrame({"Weekly Sentiment": weekly_sentiment, "Weekly Tweets": weekly_tweets, "Weekly Sales": sums_df[0]})

In [6]:
BornaCrime

                     Weekly Sales  Weekly Sentiment  Weekly Tweets
Week End( 10/09/16 )            2         -0.328827             66
Week End( 10/16/16 )            1         -0.440638             29
Week End( 10/23/16 )            3         -0.108200             27
Week End( 10/30/16 )            1         -0.155152             46
Week End( 11/06/16 )            6         -0.409514            169
Week End( 11/13/16 )          862         -0.418640            159
Week End( 11/20/16 )        13615          0.262272            993
Week End( 11/27/16 )        12266         -0.069478            816
Week End( 12/04/16 )        12640         -0.191664            918
Week End( 12/11/16 )        20437         -0.081273            535
Week End( 12/18/16 )        24578         -0.021483            517
Week End( 12/25/16 )        32679          0.055371            540
Week End( 01/01/17 )         7362          0.057381            597
Week End( 01/08/17 )         5334         -0.024782            552
Week End( 01/15/17 )         4616          0.012615            496
Week End( 01/22/17 )         4689         -0.025567            520
Week End( 01/29/17 )         4269         -0.051675            415
Week End( 02/05/17 )         3948         -0.018837            359
Week End( 02/12/17 )         3610          0.554825            384
Week End( 02/19/17 )         5300          0.047433            392
Week End( 02/26/17 )         5957          0.015342            408
Week End( 03/05/17 )         3979         -0.086531            383
Week End( 03/12/17 )         4186         -0.058901            362
Week End( 03/19/17 )         3530         -0.048564            299
Week End( 03/26/17 )         3378         -0.054936            279
Week End( 04/02/17 )         4194         -0.035230            273

In [7]:
BornaCrime.to_csv("born_a_crime_full_data.csv")

# Modern Romance Data

In [8]:
weekly_sentiment = []
compound_sentiment = []
weekly_tweets = []
books = ["Modern Romance"]
for item in books:
    list_ = []
    for x in range(26):
        file = "Data/" + item + " Data/" + item + str(x) + ".csv"
        df = pd.read_csv(file, encoding="latin-1", error_bad_lines=False, warn_bad_lines=False, index_col=None, header=0)
    
        df["Tweet Sentiment"] = ""
        df.set_index(" id", inplace=True)
    
        for index, row in df.iterrows():
            tweet_text = row[" text"]
            compound_sentiment.append(analyzer.polarity_scores(tweet_text)["compound"])
            df.set_value(index, "Tweet Sentiment", (analyzer.polarity_scores(tweet_text)["compound"]))

        compound_sentiment = []   
        list_.append(df)
    frame1 = pd.concat(list_)
    frame1[' date'] = pd.to_datetime(frame1[' date'])

In [9]:
frame1.head()

,username,date,retweets,text,permalink,Tweet Sentiment
id,,,,,,
5.979040e+17,bobbienews,2015-05-11 19:18:00,0,Reading a book about #dating apps... like read...,https://twitter.com/bobbienews/status/59790355...,0.3612
5.978930e+17,sjmmurdock,2015-05-11 18:36:00,0,"@arzesux It's a hilarious, thoughtful, and in-...",https://twitter.com/sjmmurdock/status/59789298...,0.9136
5.978920e+17,webparazzi,2015-05-11 18:30:00,0,Modern Romance http:// wp.me/p4s3uz-1WA,https://twitter.com/webparazzi/status/59789150...,0.5574
5.978900e+17,MissAmaRayRay,2015-05-11 18:22:00,1,You should read A Cry to the Sea: A Modern Afr...,https://twitter.com/MissAmaRayRay/status/59788...,0.2732
5.978890e+17,sjmmurdock,2015-05-11 18:22:00,0,@arzesux Are you going to get the Aziz Ansari ...,https://twitter.com/sjmmurdock/status/59788945...,0.8481

In [10]:
dates = "Dates/mr_dates.csv"
date_df = pd.read_csv(dates)
weekly_sentiment = []
weekly_tweets = []
for index, row in date_df.iterrows():
    date = row["Week Start"]
    date2 = row["Week End"]
    mask = (frame1[' date'] > str(date)) & (frame1[' date'] <= str(date2))
    weekly_tweets.append(len(frame1.loc[mask]))
    weekly_sentiment.append(np.mean(frame1.loc[mask]["Tweet Sentiment"]))

In [11]:
pos_data = "../CSV/POS Data/mr_pos_data.csv"
pos = pd.read_csv(pos_data)
sums = pos.sum(axis=0).to_frame()
sums_df = sums.iloc[1:]
sums_df[0]
ModernRomance = pd.DataFrame({"Weekly Sentiment": weekly_sentiment, "Weekly Tweets": weekly_tweets, "Weekly Sales": sums_df[0]})

In [12]:
ModernRomance

                     Weekly Sales  Weekly Sentiment  Weekly Tweets
Week End( 4/19/15 )             0               NaN              0
Week End( 4/26/15 )             0               NaN              0
Week End( 5/3/15 )              0               NaN              0
Week End( 5/10/15 )             0          0.535613            251
Week End( 5/17/15 )             0          0.534222            292
Week End( 5/24/15 )             0          0.551863            336
Week End( 5/31/15 )             2          0.549588            469
Week End( 6/7/15 )             11          0.535517            639
Week End( 6/14/15 )          1054          0.507899            713
Week End( 6/21/15 )         22706          0.550411           2829
Week End( 6/28/15 )         12447          0.529854           1321
Week End( 7/5/15 )           9415          0.540384            844
Week End( 7/12/15 )         10225          0.524476           1455
Week End( 7/19/15 )          9230          0.538181           1069
Week End( 7/26/15 )          8335          0.571031            799
Week End( 8/2/15 )           6555          0.568454            766
Week End( 8/9/15 )           6157          0.556278            710
Week End( 8/16/15 )          5768          0.535946            926
Week End( 8/23/15 )          5145          0.540868           1053
Week End( 8/30/15 )          4413          0.572734            818
Week End( 9/6/15 )           4163          0.613568            725
Week End( 9/13/15 )          3816          0.510822            760
Week End( 9/20/15 )          3630          0.486512            462
Week End( 9/27/15 )          3228          0.490421            452
Week End( 10/4/15 )          2734          0.543310            722
Week End( 10/11/15 )         2570          0.512245            716

In [13]:
ModernRomance.to_csv("modern_romance_full_data.csv")

# The Girl with the Lower Back Tattoo Data

In [14]:
weekly_sentiment = []
compound_sentiment = []
weekly_tweets = []
books = ["The Girl with the Lower Back Tattoo"]
for item in books:
    list_ = []
    for x in range(26):
        file = "Data/" + item + " Data/" + item + str(x) + ".csv"
        df = pd.read_csv(file, encoding="latin-1", error_bad_lines=False, warn_bad_lines=False, index_col=None, header=0)
    
        df["Tweet Sentiment"] = ""
        df.set_index(" id", inplace=True)
    
        for index, row in df.iterrows():
            tweet_text = row[" text"]
            compound_sentiment.append(analyzer.polarity_scores(tweet_text)["compound"])
            df.set_value(index, "Tweet Sentiment", (analyzer.polarity_scores(tweet_text)["compound"]))

        compound_sentiment = []   
        list_.append(df)
    frame2 = pd.concat(list_)
    frame2[' date'] = pd.to_datetime(frame2[' date'])

In [15]:
frame2.head()

,username,date,retweets,text,permalink,Tweet Sentiment
id,,,,,,
7.525160e+17,GalleryBooks,2016-07-11 10:53:00,1,Check out the gorgeous new @marieclaire cover ...,https://twitter.com/GalleryBooks/status/752516...,0.3311
7.517070e+17,ShinyGlitterBug,2016-07-09 05:17:00,0,Can't wait for this book! ~ Amy Schumer tells ...,https://twitter.com/ShinyGlitterBug/status/751...,-0.3595
7.516980e+17,IndigoEatonCtr,2016-07-09 04:41:00,0,The next big read in #humour ! Pre-order The G...,https://twitter.com/IndigoEatonCtr/status/7516...,-0.3595
7.513770e+17,no1puckfan_ken,2016-07-08 07:27:00,1,who is the sexy girl with the lower back tatto...,https://twitter.com/no1puckfan_ken/status/7513...,0.5719
7.512620e+17,rdm312,2016-07-07 23:50:00,0,To the girl at the bar with the sun's out rum'...,https://twitter.com/rdm312/status/751262093349...,-0.4098

In [16]:
dates = "Dates/back_tattoo_dates.csv"
date_df = pd.read_csv(dates)
weekly_sentiment = []
weekly_tweets = []
for index, row in date_df.iterrows():
    date = row["Week Start"]
    date2 = row["Week End"]
    mask = (frame2[' date'] > str(date)) & (frame2[' date'] <= str(date2))
    weekly_tweets.append(len(frame2.loc[mask]))
    weekly_sentiment.append(np.mean(frame2.loc[mask]["Tweet Sentiment"]))

In [17]:
pos_data = "../CSV/POS Data/tattoo_pos_data.csv"
pos = pd.read_csv(pos_data)
sums = pos.sum(axis=0).to_frame()
sums_df = sums.iloc[1:]
sums_df[0]
BackTattoo = pd.DataFrame({"Weekly Sentiment": weekly_sentiment, "Weekly Tweets": weekly_tweets, "Weekly Sales": sums_df[0]})

In [18]:
BackTattoo

                      Weekly Sales  Weekly Sentiment  Weekly Tweets
Week End( 6/26/16 )              0               NaN              0
Week End( 7/3/2016 )             1               NaN              0
Week End( 7/10/16 )              0         -0.219075             12
Week End( 7/17/16 )              2         -0.164237             27
Week End( 7/24/16 )              5         -0.241681             16
Week End( 7/31/16 )              4         -0.275999            112
Week End( 8/7/16 )             307         -0.234575             71
Week End( 8/14/16 )            250         -0.256820             49
Week End( 8/21/16 )          39616         -0.236759           1755
Week End( 8/28/16 )          30286         -0.093971             31
Week End( 9/4/16 )           24308         -0.126927            280
Week End( 9/11/16 )          19855         -0.270177            289
Week End( 9/18/16 )          13721         -0.164942            159
Week End( 9/25/16 )          11820         -0.156569            123
Week End( 10/2/2016 )        10067         -0.165934            137
Week End( 10/9/16 )           7677          0.168219            302
Week End( 10/16/16 )          6234         -0.082290            102
Week End( 10/23/16 )          5032         -0.032719            179
Week End( 10/30/16 )          4055         -0.262595             96
Week End( 11/6/16 )           3537         -0.217888             73
Week End( 11/13/16 )          3641         -0.134250             56
Week End( 11/20/16 )          3683         -0.247081             88
Week End( 11/27/16 )          9626         -0.299038             53
Week End( 12/4/16 )           6921         -0.188913             45
Week End( 12/11/16 )          8410         -0.122468             66
Week End( 12/18/16 )         16899         -0.048529            143

In [19]:
BackTattoo.to_csv("back_tattoo_full_data.csv")

# Instant Mom Data (fixed)

In [20]:
weekly_sentiment = []
compound_sentiment = []
weekly_tweets = []
books = ["Instant Mom"]
for item in books:
    list_ = []
    for x in range(26):
        file = "Data/" + item + " Data/" + item + str(x) + ".csv"
        df = pd.read_csv(file, encoding="latin-1", error_bad_lines=False, warn_bad_lines=False, index_col=None, header=0)
    
        df["Tweet Sentiment"] = ""
        df.set_index(" id", inplace=True)
    
        for index, row in df.iterrows():
            tweet_text = row[" text"]
            compound_sentiment.append(analyzer.polarity_scores(tweet_text)["compound"])
            df.set_value(index, "Tweet Sentiment", (analyzer.polarity_scores(tweet_text)["compound"]))

        compound_sentiment = []   
        list_.append(df)
    frame3 = pd.concat(list_)
    frame3[' date'] = pd.to_datetime(frame3[' date'])

In [21]:
frame3.head()

,username,date,retweets,text,permalink,Tweet Sentiment
id,,,,,,
305722143868596224,kellercali,2013-02-24 11:53:00,0,I just bought: ' Instant Mom ' by Nia Vardalos...,https://twitter.com/kellercali/status/30572214...,0
305440879462715392,AdoptUSKids,2013-02-23 17:15:00,0,@hewanderson The new book by @NiaVardalos #Ins...,https://twitter.com/AdoptUSKids/status/3054408...,0
305399366162739201,NiaVardalos,2013-02-23 14:30:00,6,xo. RT @AdoptUSKids : Writer/actress @NiaVarda...,https://twitter.com/NiaVardalos/status/3053993...,0
305185031301771264,AnxiousBot,2013-02-23 00:19:00,0,RT @TeamTiaMowry : So anxious about #InstantMo...,https://twitter.com/AnxiousBot/status/30518503...,0.1548
305184870727041024,TeamTiaMowry,2013-02-23 00:18:00,0,So anxious about #InstantMom also. I hope it g...,https://twitter.com/TeamTiaMowry/status/305184...,0.1548

In [28]:
dates = "Dates/im_dates.csv"
date_df = pd.read_csv(dates)
weekly_sentiment = []
weekly_tweets = []
for index, row in date_df.iterrows():
    date = row["Week Start"]
    date2 = row["Week End"]
    mask = (frame3[' date'] > str(date)) & (frame3[' date'] <= str(date2))
    weekly_tweets.append(len(frame3.loc[mask]))
    weekly_sentiment.append(np.mean(frame3.loc[mask]["Tweet Sentiment"]))

In [29]:
pos_data = "../CSV/POS Data/instant_mom_pos_data.csv"
pos = pd.read_csv(pos_data)
sums = pos.sum(axis=0).to_frame()
sums_df = sums.iloc[1:]
sums_df[0]
InstantMom = pd.DataFrame({"Weekly Sentiment": weekly_sentiment, "Weekly Tweets": weekly_tweets, "Weekly Sales": sums_df[0]})

In [30]:
InstantMom

                      Weekly Sales  Weekly Sentiment  Weekly Tweets
Week End( 2/17/13 )              0               NaN              0
Week End( 2/24/13 )              0          0.328774             34
Week End( 3/3/2013 )             0          0.453734             29
Week End( 3/10/13 )              0          0.265075             20
Week End( 3/17/13 )              1          0.399282            124
Week End( 3/24/2013 )            0          0.531314             76
Week End( 3/31/2013 )            0          0.415042             91
Week End( 4/7/2013 )          1137          0.445137            662
Week End( 4/14/13 )            903          0.402527           1304
Week End( 4/21/2013 )          407          0.316046            321
Week End( 4/28/13 )            256          0.438103            137
Week End( 5/5/13 )             236          0.388752            124
Week End( 5/12/13 )            288          0.579295            119
Week End( 5/19/13 )            129          0.305521             28
Week End( 5/26/13 )             87          0.397961             33
Week End( 6/2/13 )              67          0.426110             49
Week End( 6/9/13 )             320          0.243178             77
Week End( 6/16/13 )            104          0.301960            144
Week End( 6/23/13 )            -36          0.498398             46
Week End( 6/30/13 )             42          0.325031             32
Week End( 7/7/13 )              52          0.315550             22
Week End( 7/14/13 )             53          0.430405             83
Week End( 7/21/13 )             26          0.427567             46
Week End( 7/28/13 )             24          0.333472            144
Week End( 8/4/13 )              27          0.439006             64
Week End( 8/11/13 )             22          0.317095             92

In [31]:
InstantMom.to_csv("instant_mom_full_data.csv")

# Bossypants Data

In [32]:
weekly_sentiment = []
compound_sentiment = []
weekly_tweets = []
books = ["Bossypants"]
for item in books:
    list_ = []
    for x in range(26):
        file = "Data/" + item + " Data/" + item + str(x) + ".csv"
        df = pd.read_csv(file, encoding="latin-1", error_bad_lines=False, warn_bad_lines=False, index_col=None, header=0)
    
        df["Tweet Sentiment"] = ""
        df.set_index(" id", inplace=True)
    
        for index, row in df.iterrows():
            tweet_text = row[" text"]
            compound_sentiment.append(analyzer.polarity_scores(tweet_text)["compound"])
            df.set_value(index, "Tweet Sentiment", (analyzer.polarity_scores(tweet_text)["compound"]))

        compound_sentiment = []   
        list_.append(df)
    frame4 = pd.concat(list_)
    frame4[' date'] = pd.to_datetime(frame4[' date'])

In [33]:
frame4.head()

,date,permalink,retweets,text,Tweet Sentiment,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,username
id,,,,,,,,,,
38826687298936832,2011-02-19 00:06:00,https://twitter.com/wtb6chiny/status/388266872...,0,"@chrisswartout Well, kinda BOSSYPANTS of you, ...",0.1406,NaN,NaN,NaN,NaN,wtb6chiny
38804210833162240,2011-02-18 22:36:00,https://twitter.com/ms_bossypants/status/38804...,0,I am the gasping screaming agony of your disap...,-0.8271,NaN,NaN,NaN,NaN,ms_bossypants
38755152395649024,2011-02-18 19:22:00,https://twitter.com/ms_bossypants/status/38755...,0,It's always a bad thing when the cops ask for ...,-0.5423,NaN,NaN,NaN,NaN,ms_bossypants
38691838303019008,2011-02-18 15:10:00,https://twitter.com/JimHalterman/status/386918...,0,@thesurfreport @marisaroffman I dig your bossy...,0.68,NaN,NaN,NaN,NaN,JimHalterman
38691034594541568,2011-02-18 15:07:00,https://twitter.com/thesurfreport/status/38691...,0,@JimHalterman indeed @marisaroffman - you do a...,0.7964,NaN,NaN,NaN,NaN,thesurfreport

In [35]:
dates = "Dates/bossypants_dates.csv"
date_df = pd.read_csv(dates)
weekly_sentiment = []
weekly_tweets = []
for index, row in date_df.iterrows():
    date = row["Week Start"]
    date2 = row["Week End"]
    mask = (frame4[' date'] > str(date)) & (frame4[' date'] <= str(date2))
    weekly_tweets.append(len(frame4.loc[mask]))
    weekly_sentiment.append(np.mean(frame4.loc[mask]["Tweet Sentiment"]))

In [36]:
pos_data = "../CSV/POS Data/bp_pos_data.csv"
pos = pd.read_csv(pos_data)
sums = pos.sum(axis=0).to_frame()
sums_df = sums.iloc[1:]
sums_df[0]
Bossypants = pd.DataFrame({"Weekly Sentiment": weekly_sentiment, "Weekly Tweets": weekly_tweets, "Weekly Sales": sums_df[0]})

In [37]:
Bossypants

                    Weekly Sales  Weekly Sentiment  Weekly Tweets
Week End( 2/20/11 )            0          0.090831             35
Week End( 2/27/11 )            1          0.238342             36
Week End( 3/6/11 )             0          0.236388             81
Week End( 3/13/11 )            1          0.193939            101
Week End( 3/20/11 )            2          0.249695            160
Week End( 3/27/11 )            2          0.246552            108
Week End( 4/3/11 )            77          0.169428            313
Week End( 4/10/11 )        37902          0.197404           4037
Week End( 4/17/11 )        39845          0.240990           3680
Week End( 4/24/11 )        47181          0.258586           3174
Week End( 5/1/11 )         31223          0.230026           2590
Week End( 5/8/11 )         42987          0.253584           2104
Week End( 5/15/11 )        28240          0.241716           2179
Week End( 5/22/11 )        22689          0.271243           1928
Week End( 5/29/11 )        20051          0.246253           1500
Week End( 6/5/11 )         17793          0.258815           1495
Week End( 6/12/11 )        18489          0.256696           1420
Week End( 6/19/11 )        17406          0.265450           1078
Week End( 6/26/11 )        13614          0.257090           1106
Week End( 7/3/11 )         12615          0.308942           1207
Week End( 7/10/11 )        10536          0.270740            960
Week End( 7/17/11 )        11785          0.277365            870
Week End( 7/24/11 )        11766          0.272726            829
Week End( 7/31/11 )         9840          0.291961            875
Week End( 8/7/11 )          8592          0.250886            598
Week End( 8/14/11 )         7812          0.245736            743

In [38]:
Bossypants.to_csv("bossypants_full_data.csv")